body {
	font-family: monospace;
	font-weight: 700;
	font-size: 22px;
	margin: 0;
	padding: 0;
}
.container {
	padding: 10px;
	background: gold;
	max-width: 420px;
}

.count {
	float: right;
}

[data-score]:active {
	fill:tomato;
}
