body {
	background: gold;
	font-family: monospace;
	font-weight: 700;
	font-size: 22px;
	margin: 0;
	padding: 0;
	user-select: none;
	overflow: hidden;
}

@media (max-width: 414px) {
  body{
    font-size: 16px;
  }
}

.js-hidden {
  visibility: hidden;
}

.container {
	max-height: 100vh;
	max-width: 561px;
	text-align: center;
	margin: auto;
  position: relative;
}

.scoreboard {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 14px solid black;
	border-bottom: 0;
}

p {
  padding: 0;
  margin: 0;
}

.holes svg {
	max-height: calc(100vh - 90px);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.holes ellipse {
	stroke: black;
	stroke-width: 14px;
}

[data-score] {
	cursor: pointer;
	fill: cornsilk;
}

[data-score]:active,
[data-score]:hover {
	fill:tomato;
}

text {
	font-size: 15px;
}

.results {
  background: gold;
  opacity: 80%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - 40px);
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.reset {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: tomato;
  color: white;
  padding: 15px 50px;
  margin-top: 15px;
  font-family: monospace;
  outline: 0;
  font-size: 22px;
}

.reset:active,
.reset:hover {
  background-color: #a81900;
  cursor: pointer;
}

.remaining-balls svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20vw;
	min-width: 280px;
  z-index: -1;
}

ellipse[class^='ball-count'] {
  fill: tomato;
  stroke: black;
  stroke-width: 10px;
}

.edit {
  color: black;
  padding: 20px;
  font-size: .75em;
}
